.products-list .product-item-info .product-item-photo,
.products-grid .product-item-info .product-item-photo {
    position: relative;
    display: block;
}

.products-list .product-item-info .productlabel,
.products-grid .product-item-info .productlabel {
    position: absolute;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: contain;
}
